# Python
*.pyc
__pycache__/

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/

# Virtual Environment
venv/

# Environment Variables
.env

# Logs
*.log

# IDE/Editor
.vscode/
.idea/

# Others
.ebextensions/